.navbar{
    background-color: black;
    height: 35px;
    margin: 0 auto;
    color:white;
    margin-bottom: 20px;
}

.navbar .container-fluid{
    justify-content: center;

}

.navbar-brand{
    font-size: 15px;
    padding-top: 0;
}

#menu{
    background-color: white;
}

#logo{
    margin-left: 245px;
    width: 10%;
    object-fit: contain;
}

#menu .navbar-nav{
    margin: 0 auto;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: black;
    padding-right: 7rem;
    padding-left: 5rem;
}

.nav-item4 img {
    width: 39px;
    margin-top: 4px;
    padding-right: 10px;
}

.container-main{
    margin: 0 auto;
    margin-left: 264px;
}

.container-main img {
    width: 1500px;
}

.container-main .centrado{
    background-color: black;
    color: white;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 20%;
    left: 53%;
    transform: translate(-50%, -50%);
}

#pie {
    height:50px;
    line-height:50px;
    background:black;
    color:white;
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}